<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="{% url 'add_author' %}" method="post">
                <h2>添加作者</h2>
                作者名字：<input type="text" name="name" class="form-control">
                作者年龄：<input type="text" name="age" class="form-control">
                <input type="submit" value="添加" class="form-control btn btn-primary">
            </form>
        </div>
    </div>
</div>
</body>
</html>