<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名字</th>
                    <th>地址</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
                </thead>

                {% for pub in publish %}

                    <tbody>
                    <tr>
                        <td>{{ pub.nid }}</td>
                        <td>{{ pub.name }}</td>
                        <td>{{ pub.addr }}</td>
                        <td>{{ pub.email }}</td>
                        <td>
                            <a href="/del_publish/{{ pub.nid }}.html" class="btn btn-danger">删除</a>
                            <a href="/edit_publish/{{ pub.nid }}.html" class="btn btn-primary">编辑</a>
                        </td>
                    </tr>
                    </tbody>

                {% endfor %}

            </table>
        </div>
    </div>
</div>
</body>
</html>